# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
build/
dist/
*.egg-info/

# Environment Variables & Secrets
.env
*.env

# Output & Cache Files
exams.json
.cache/
.pytest_cache/

gov-exam-scraper/
